/* === HISTORIAL DE PARTIDAS === */
main.historial {
    margin: auto;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: #5a3a1a;
    padding: 20px;
    border-radius: 12px;
    color: white;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #724c24;
}

tr:hover {
    background-color: #8b5e34;
}
/* === Fin de HISTORIAL DE PARTIDAS === */

@media screen and (max-width: 992px) {

/*Tabla Historal*/
.historial {
    padding: 10px;
    border-radius: 12px;
    align-items: center;
}

#tablaHistorial {
    border: 0;
    width: 100%;
}

#tablaHistorial thead {
    display: none; /* Oculta los encabezados */
}

#tablaHistorial tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #6d4c36;
    padding: 8px;
}

#tablaHistorial td {
    display: block;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 6px 4px;
}

#tablaHistorial td:last-child {
    border-bottom: none;
}

/* Mostrar etiquetas usando nth-child sin tocar el HTML */
#tablaHistorial td:nth-child(1)::before {
    content: "# Partida: ";
    font-weight: bold;
}

#tablaHistorial td:nth-child(2)::before {
    content: "Jugadores: ";
    font-weight: bold;
}

}
/*Fin Tabla Historal*/

