/*=== inicio de sesión o Registraste ===*/
.login-body {
    background-color: #c59a6d;
    font-family: 'Segoe UI', sans-serif;
    color: #f0e6dc;
    height: 100vh; 
    margin: 0;
}

.login-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #63402c; 
    margin: auto;
}

.login-form {
    gap: 5Px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.IniciarSesion {
    font-size: 20px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ac940f; 
}

.login-form label {
    font-size: 17px;
    font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 1rem;
    border: 2px solid #9c590d;
    border-radius: 5px;
    background-color: #5c3109; 
    color: #f0e6dc; 
}

.login-form input::placeholder {
    color: #cfcfcf; 
}

.login-form .remember {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.login-form .remember input[type="checkbox"] {
    margin-right: 0.5rem;
}

.login-form button {
    padding: 10px;
    background-color: #8b4605; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-registro {
    text-align: center;
    padding: 5px;
    background-color: #8b4605; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.login-form button:hover {
    background-color: #c59a6d; 
}
/* Fin de inicio de sesión */


/* Responsive Login */
@media screen and (max-width: 992px) {

.login-container {
    margin-top: auto;
    width: auto;
    height: auto; 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: none; /* menos sombra para móviles */
}

.login-form {
    font-size: 14px;
    gap: 8px;
}

.login-form h2 {
    font-size: 18px;
    margin-bottom: 1rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    font-size: 14px;
    padding: 8px;
}

.login-form .remember {
    font-size: 12px;
}

.login-form button {
    font-size: 14px;
    padding: 8px;
}
}
/* Fin Responsive Login */