/*  puntuaciones */
.TABLA {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: #f0e6dc;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #63402c;
    border: 10px solid  #301f17;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 2px solid #9c590dd8;
    color: rgb(0, 0, 0);
}

th {
    background-color: #e26a00d8;
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #69431e;
}

tr.primero {
    background-color: #dbbc0c; 
}

tr.segundo {
    background-color: #c0c0c0;
}

tr.tercero {
    background-color: #cd7f32; 
}

.total-jugadores {
    text-align: center;
    font-size: 1.2rem;
    color: #f0e6dc;
    margin-top: 20px;
}

.boton-actualizar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #301f17;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-actualizar:hover {
    background-color: #a55c08;
}
/* Fin de puntuaciónes*/

@media screen and (max-width: 992px) {
.Puntuaciones{
    margin: auto;
    flex-direction: column;
}

.TABLA {
    font-size: 1.2rem;
    margin: 10px 0;
}

table {
    width: 100%;
    font-size: 0.8rem;
    border-width: 5px;
}

th, td {
    padding: 8px;
    font-size: 0.75rem;
}

th {
    font-size: 0.9rem;
}

.total-jugadores {
    font-size: 1rem;
    margin-top: 10px;
}

.boton-actualizar {
    padding: 8px 15px;
    font-size: 14px;
}
/* Fin del responsive*/
}

